@model ClientManagerWeb.ViewModels.Client.CreateUpdateViewModel

@{
    ViewBag.Title = "Edit clients data";
}

<h2 class="edit-header">Edit clients data</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Client's data</legend>

        @Html.Partial("_CreateUpdate")

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
